$dangerGradient: linear-gradient(to bottom, #ed213a, #93291e);
$warningGradient: linear-gradient(to bottom, #f37335, #fdc830);
$successGradient: linear-gradient(to top, #a8e063, #56ab2f);
$primaryGradient: linear-gradient(to top, #0575e6, #021b79);
$blackGradient: linear-gradient(to top, #232526, #414345);
